@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* screens */
@import "screen/index.css";
@import "screen/friends.css";
@import "screen/chats.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";
@import "screen/background.css";

html,
body {
    width: 100%;
    height: 100%;
    color: white;
    font-family: Georgia, serif;
}
