.icon-row__icons {
    height: 120px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    padding: 0px 5px 14px 5px;
    text-transform: uppercase;
}

.icon-row__icons--lower {
    padding: 0px 5px 20px 25px;
}

.icon-row__icons i {
    font-size: 40px;
}

.icon-row__icons__object {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-row__icons__object span {
    padding-top: 18px;
}
