.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  opacity: 0.9;
  z-index: 1;
}

.status-bar__column:first-child {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.status-bar__column:first-child span {
  padding-right: 5px;
}

.status-bar__column:last-child {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.status-bar__column:last-child .fas {
  padding-left: 5px;
}

.status-bar__time {
  position: absolute;
  left: 45%;
}
