.find-screen {
    margin-top: 76px;
    padding: 10px 7px;
    height: 100%;
    opacity: 0.9;
}

.wish-header {
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    border-top: var(--main-border);
    padding-top: 10px;
    font-size: 14px;
}

.wish-post {
    display: flex;
    flex-direction: column;
}

.wish-post__set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.wish-post__set {
    border-bottom: var(--main-border);
}

.wish-post__set__title {
    font-weight: 600;
    font-size: 28px;
}

.wish-post__set__hashtags {
    text-transform: uppercase;
    padding: 5px 0px;
}

.wish-post__set__tools {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.wish-post__set__tools img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.wish-post__set__tools-edit {
    font-size: 14px;
}

.wish-post__set__tools {
    width: 2px;
    height: 10px;
    margin: 5px;
}

.wish-post__set__tools-delete {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.6;
}

.wish-post__set__photo {
    position: relative;
}

.wish-post__set__photo img {
    width: 180px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0px 0.5px 10px 0.2px black;
}

.wish-post__set__photo img:hover {
    box-shadow: 0px 0.5px 10px 0.2px #c23616;
}

.wish-post__set__heart {
    background-color: #c23616;
    color: white;
    padding: 5px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    opacity: 0.7;
}

.wish-post__set__heart span {
    margin-left: 5px;
}

@keyframes heartBeat {
    0% {
        color: white;
        transform: none;
    }

    50% {
        color: tomato;
        transform: scale(3);
    }
    100% {
        color: white;
        transform: none;
    }
}

.wish-post__set__heart:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}
